[Desktop Entry]
Type=Application
Name=Spotify (Kdocker)
GenericName=Music Player
Icon=spotify-client
TryExec=spotify
Exec=/home/fademind/bin/spotify-kdocker %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
